/**
 * bundles Infima by default. Infima is a CSS framework designed to
 */

/* latin-ext */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexenddeca/v21/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wpRnDmLM.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lexenddeca/v21/K2FifZFYk-dHSE0UPPuwQ7CrD94i-NCKm-U48M1wqxnD.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --ifm-color-primary: #eb459e;
    --ifm-color-primary-dark: #d13e8e;
    --ifm-color-primary-darker: #b9377e;
    --ifm-color-primary-darkest: #9b2f6e;
    --ifm-color-primary-light: #f04fa0;
    --ifm-color-primary-lighter: #f45fa3;
    --ifm-color-primary-lightest: #f88fa7;
    --ifm-code-font-size: 95%;
    --ifm-heading-font-family: 'Lexend Deca';
    --ifm-font-family-monospace: 'JetBrains Mono', monospace;
    --ifm-navbar-link-color: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #eb459e;
    --ifm-color-primary-dark: #d13e8e;
    --ifm-color-primary-darker: #b9377e;
    --ifm-color-primary-darkest: #9b2f6e;
    --ifm-color-primary-light: #f04fa0;
    --ifm-color-primary-lighter: #f45fa3;
    --ifm-color-primary-lightest: #f88fa7;
    --ifm-code-font-size: 95%;
    --ifm-navbar-link-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    -webkit-appearance: none;
    overflow: auto;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--ifm-color-primary-dark);
    border: 1px solid var(--ifm-color-primary-dark);
    border-radius: 2px;
    overflow: auto;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Lexend Deca', serif;
    font-weight: 400;
}

.hero__subtitle,
.hero__title {
    color: #FFF;
}

.navbar--fixed-top {
    background-color: var(--ifm-color-primary-dark);
    color: #FFFFFF;
}

.navbar__items {
    gap: 25px;
}

.navbar__item:hover {
    background: var(--ifm-color-primary-darkest);
    color: #FFF;
}

.navbar__link {
    border-radius: 10px;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar__link--active {
    background: var(--ifm-color-primary-darker);
    color: rgb(229, 231, 235);
}

.footer--dark {
    background-color: var(--ifm-color-primary-dark);
}

.footer__link-item {
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);;
}

.footer__link-item:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px white;
}